html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#aurora-text {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ff6600, #ff00ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aurora 6s infinite linear;
    text-decoration: none;
    display: inline-block;
}

@keyframes aurora {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.card {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-title {
    min-height: 50px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.card-body .pl-1 {
    text-align: center; 
}

.card .d-flex {
    margin-top: auto;
}




